// Custom fonts for this template
@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

// Bootstrap core CSS
@import "~bootstrap/scss/bootstrap";

// Startbootstrap Clean Blog
@import '~startbootstrap-clean-blog/scss/clean-blog';

body {
  background-color: #f5f8fa;
}