// Custom fonts for this template
@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

// Bootstrap core CSS
@import "~bootstrap/scss/bootstrap";

// Startbootstrap Clean Blog
@import '~startbootstrap-clean-blog/src/scss/styles';

// Highlight.js theme
@import '~highlight.js/styles/tomorrow-night-bright.css';

// Custom colors for social share links
.text-facebook, a.text-facebook:hover {
  color: #4267b2;
}

.text-linkedin, a.text-linkedin:hover {
  color: #0077b5;
}

.text-twitter, a.text-twitter:hover {
  color: #1da1f2;
}
